---
layout: default
title: Home
menu: true
---

<div class="home">

	<h1 class="post-title">Front-End Development and stuff …</h1>

	<p>
		{{ site.description }}
	</p>

	<ul class="post-list">
		{% for post in paginator.posts %}
			<li>
				<span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>

				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				<p>{{ post.excerpt }}</p>
			</li>
		{% endfor %}
	</ul>

	<div class="float-container">
		{% if paginator.total_pages > 1 %}
			<div class="pagination float-left" style="">
				{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
				{% else %}
				<span>&laquo; Prev</span>
				{% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
				<em>{{ page }}</em>
				{% elsif page == 1 %}
				<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
				{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				{% endif %} {% endfor %} {% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
				{% else %}
				<span>Next &raquo;</span>
				{% endif %}
			</div>
		{% endif %}
		<p class="rss-subscribe float-right">
			Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS ( ˘ ³˘)</a>
		</p>
	</div>


</div>
