body {
	max-width: 768px;
	margin: 0 auto;
	&:before {
		content: '';
		display: block;
		height: 5px;
		width: 100%;
		background: $grey-color-dark;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
	}
}

/**
 * Site header
 */
.site-header {
	border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	min-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	margin-top: 8px;
	float: left;
	img {
		height: 40px;
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: 20px;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}



/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	// padding: $spacing-unit 0;
	padding: 20px 0;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.footer-link {
	color: $grey-color;
	text-decoration: underline;
	&:hover {
		color: $brand-color;
	}
}



.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.contact-list {
	// text-align: right;
}

.contact-list li {
	display: inline;
	&:after {
		content: '|';
		color: $brand-color;
		display: inline-block;
		margin-left: 5px;

	}
	&:last-child:after {
		content: '';
	}
}

.footer-legal {
	display: inline;
}

.social-media-list li {
	display: inline-block;
	.icon > svg {
		height: 24px;
		width: 24px;
		margin-right: 5px;
	}
	.icon--twitter {
		> svg path { fill: #55acee; }
		&:hover > svg path { fill: #0084b4; }
	}
	.icon--github {
		> svg path { fill: #333333; }
		&:hover > svg path { fill: #4183c4; }
	}
	.icon--flattr {
		> svg path { fill: #90ba5d; }
		&:hover > svg path { fill: #f29224; }
	}
	.icon--feed {
		> svg path { fill: #f39c11; }
		&:hover > svg path { fill: #f29224; }
	}
	.icon--flattr > svg,
	.icon--feed > svg {
		height: 22px;
		width: 22px;
	}
}

.footer-col-wrapper {
	font-size: 15px;
	color: $grey-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(22% - (#{$spacing-unit} / 2));
	width:         calc(22% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(35% - (#{$spacing-unit} / 2));
	width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(43% - (#{$spacing-unit} / 2));
	width:         calc(43% - (#{$spacing-unit} / 2));
	text-align: right;
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}
	.footer-col-2 { text-align: right; }

	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
		text-align: left;
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
		text-align: left;
	}
}



/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
}

.page-heading {
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
		border-bottom: 1px solid $grey-color-light;
	}
}

.post-meta {
	font-size: $small-font-size - 1;
	color: $grey-color;
	&.post-date { font-size: $small-font-size + 2 ; }
	&.float-left {
		margin-right: 5px;
	}
}
p.post-meta {
	margin-bottom: 0;
}



.post-link {
	display: block;
	font-size: 24px;
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}

/**
 * Gists
 */
.wrapper .gist .gist-file .gist-data {
	background-color: #fbfbfb;
	font-size: 12px;
}
