// Overriding prism theme

/* Code blocks */
pre[class*="language-"],
:not(pre) > code[class*="language-"],
:not(pre) > code {
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 15px;
}
