---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
	<p class="post-meta post-date">
    	{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} – {{ page.author }}{% endif %}
    </p>
    <div class="float-container">
    	<p class="float-left post-meta">Category:</p>
    	<h2 class="post-meta">{% if page.categories %} »{{ page.categories }}«{% endif %}</h2>
    </div>
    <div class="float-container">
    	<p class="float-left post-meta">Tags: </p>
    	<h3 class="post-meta">
        {% for item in page.tags %}
          {{ item }}
        {% endfor %}
    	</h3>
    </div>
    <div class="float-container">
    	<p class="post-meta">Estimated reading time: {% include read_time.html %}</p>
    </div>
  </header>
  <hr>

  <article class="post-content">
    {{ content }}
  </article>

	<hr>
	<h2>Related posts</h2>
	<ul>
	  {% for post in site.related_posts limit:3 %}
		{% if post.title != page.title %}
			<li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
	  {% endfor %}
	</ul>
	<hr>
	<h2>Comments</h2>
	<p>
		Comments are removed for now. Feel free to contact me via Twitter in case you’d like to talk
		about this blog post: <a href="https://twitter.com/mkuehnel">@mkuehnel</a>.
	</p>

</div>
