---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
	<p class="post-meta post-date">
    	{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} – {{ page.author }}{% endif %}
    </p>
    <div class="float-container">
    	<p class="float-left post-meta">Category:</p>
    	<h2 class="post-meta">{% if page.categories %} »{{ page.categories }}«{% endif %}</h2>
    </div>
    <div class="float-container">
    	<p class="float-left post-meta">Tags: </p>
    	<h3 class="post-meta">
        {% for item in page.tags %}
          {{ item }}
        {% endfor %}
    	</h3>
    </div>
  </header>
  <hr>

  <article class="post-content">
    {{ content }}
  </article>

	<div class="float-container">
		<a class="FlattrButton float-left"
		    title="{{page.title}}"
		    data-flattr-uid="mischah"
		    data-flattr-tags="{{page.tags}}"
		    data-flattr-category="text"
		    data-flattr-language="{{page.lang}}"
		    href="{{site.url}}{{page.url}}">
			{{page.excerpt}}
		</a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="mkuehnel">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>


	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'michaelkuehnelde',
        	disqus_identifier = '{{page.disqusIdentifier}}',
        	disqus_title = '{{page.title}}',
        	disqus_url = '{{site.url}}{{page.url}}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the comments</noscript>

</div>
